<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.BusStopMapper">
    <select id="getStopsByRouteId" parameterType="java.lang.Long" resultType="org.example.entity.BusStop">
        SELECT * FROM t_bus_stop
        WHERE route_id = #{routeId}
        ORDER BY sort_order ASC
    </select>
</mapper>